:root {
  --primary-text-color: #212121;
  --primary-touch-color: #2196f3;
  --primary-button-text-color: #ffffff;
  --primary-background-color: #f5f4fa;
  --primary-text-p-color: #757575;
  --primary-futer-color: #2f303a;
}

body {
  font-family: Roboto, "Segoe UI";
  color: #212121;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
h1,
h2,
h3,
h4 {
  margin: 0px;
}
p {
  margin: 0px;
}

/* зкритий текс */
.shadow {
  font-size: 0;
}
/* шапка профиля */
.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--primary-button-text-color);
}
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}
.logo-accent {
  color: var(--primary-touch-color);
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.navigation.current {
  color: var(--primary-touch-color);
}
.navigation {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.navigation:focus,
.navigation:hover {
  color: var(--primary-touch-color);
}

.mail-header:focus,
.mail-header:hover {
  color: var(--primary-touch-color);
}
.mail-header {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-p-color);
}
/* заголовок */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--primary-text-color);
  text-align: center;
}

.title {
  margin-bottom: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-button-text-color);
}
/* кнопка 1 */
.button-one {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  font-family: inherit;
  background-color: var(--primary-touch-color);
  color: var(--primary-button-text-color);
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
/* .button-one:focus,
.button-one:hover {
    background-color: #2196F3;
    color: #FFFFFF; */

/* особливості */
.hang {
  padding-top: 94px;
  padding-bottom: 94px;
}
.caption {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-p-color);
}
/* чим займається компанія */
.company {
  padding-bottom: 94px;
}
.subject-company.centered {
  text-align: center;
}
.subject-company {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
/* команда */
.item {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.subject.centered {
  text-align: center;
}
.subject {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.list-avatar {
  margin-bottom: 30px;
}
.heading {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.subtitle {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-p-color);
}
/* підвал-сторінки */
.footer {
  background-color: var(--primary-futer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-two {
  color: var(--primary-button-text-color);
}
.logo-footer {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-touch-color);
  text-decoration: none;
}

.map-googl {
  margin-bottom: 9px;
  color: var(--primary-button-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.map-googl:hover,
.map-googl:focus {
  color: var(--primary-touch-color);
}
.contakt {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contakt:hover,
.contakt:focus {
  color: var(--primary-touch-color);
}
/* 2-сторінка */

/* кнопки */
.btn {
  text-align: center;
}
.buttons {
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;
  text-align: center;
  font-family: inherit;
  background-color: var(--primary-background-color);
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.buttons:hover,
.buttons:focus {
  background-color: var(--primary-touch-color);
  color: var(--primary-button-text-color);
}

/* картинки */
.project-img {
  margin-bottom: 20px;
}
.project {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.place {
  color: var(--primary-text-p-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
